* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#swiper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #swiper .bg li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0;
    transition: 1s;
    z-index: 1; }
    #swiper .bg li.on {
      opacity: 1; }
    #swiper .bg li:nth-of-type(1) {
      background: #fff; }
    #swiper .bg li:nth-of-type(2) {
      background: #eee; }
    #swiper .bg li:nth-of-type(4) {
      background-image: url(../img/bg4.jpg); }
  #swiper .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #swiper .swiper-wrapper .swiper-slide {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0; }
      #swiper .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        padding: 60px;
        opacity: 0.5;
        z-index: 1;
        transition: opacity 0.5s; }
      #swiper .swiper-wrapper .swiper-slide.swiper-slide-active .inner {
        opacity: 1; }
      #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner {
        padding: 0;
        border: 3px solid #111; }
        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap {
          width: 100%;
          height: 90%;
          position: relative; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap::after {
            content: '';
            display: block;
            clear: both; }
          #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article {
            float: left; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(1) {
              width: 35%;
              height: 100%;
              text-align: center;
              border-right: 3px solid #111; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(1) .txt {
                width: 100%;
                height: 85%;
                padding-top: 200px;
                padding-left: 100px;
                text-align: left; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(1) .txt span {
                  font: 20px/1 'arial';
                  color: #333; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(1) .txt h1 {
                  font: bold 80px/1.3 'arial';
                  color: #111;
                  margin-bottom: 10px; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(1) .txt p {
                  width: 450px;
                  font: 16px/1.5 'arial';
                  color: #444; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(1) .btn {
                display: block;
                width: 100%;
                height: 15%;
                padding: 50px 0;
                background: #d40920;
                border-top: 3px solid #111;
                text-align: center;
                font: 18px/1 'arial';
                color: #fff;
                letter-spacing: 2px; }
            #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) {
              width: 65%;
              height: 100%; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2)::after {
                content: '';
                display: block;
                clear: both; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap {
                float: left;
                width: 70%;
                height: 85%;
                overflow: hidden;
                border-right: 3px solid #111; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap .slide1 {
                  width: calc(100% * 3);
                  height: 100%;
                  border-right: 3px solid #111; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap .slide1::after {
                    content: '';
                    display: block;
                    clear: both; }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap .slide1 .back {
                    width: calc(100% / 3);
                    height: 100%;
                    float: left;
                    position: relative; }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap .slide1 .back::after {
                      content: '';
                      display: block;
                      width: 3px;
                      height: 100%;
                      background: #111;
                      position: absolute;
                      top: 0;
                      left: 50%;
                      margin-left: -1px; }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap .slide1 .back[data-index="1"] {
                      background: linear-gradient(90deg, #131ca2 50%, #ffc72e 50%); }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap .slide1 .back[data-index="2"] {
                      background: linear-gradient(90deg, #ffc72e 50%, #d40920 50%); }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap .slide1 .back[data-index="3"] {
                      background: linear-gradient(90deg, #d40920 50%, #131ca2 50%); }
                    #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide-wrap .slide1 .back img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      display: none; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide2 {
                float: left;
                width: 15%;
                height: 85%;
                border-right: 3px solid #111;
                overflow: hidden; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide2 .title {
                  width: 100%;
                  height: calc(100% * 3); }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide2 .title li {
                    width: 100%;
                    height: calc(100% / 3); }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide3 {
                float: left;
                width: 15%;
                height: 85%;
                overflow: hidden; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide3 .sub_title {
                  width: 100%;
                  height: calc(100% * 3); }
                  #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .slide3 .sub_title li {
                    width: 100%;
                    height: calc(100% / 3); }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .btn {
                display: block;
                width: 70%;
                height: 15%;
                background: #111;
                float: left;
                padding: 50px 0;
                text-align: center;
                font: 18px/1 'arial';
                color: #fff;
                letter-spacing: 2px; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .prev {
                display: block;
                width: 15%;
                height: 15%;
                float: left;
                background: #131ca2;
                border-top: 3px solid #111;
                position: relative;
                border-right: 3px solid #111; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .prev span {
                  font: 15px/1 'arial';
                  color: #fff;
                  letter-spacing: 3px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 0;
                  transition: 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .prev::before {
                  content: '';
                  display: block;
                  width: 30px;
                  height: 1px;
                  background: #fff;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(-30deg);
                  transform-origin: left center;
                  transition: 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .prev::after {
                  content: '';
                  display: block;
                  width: 30px;
                  height: 1px;
                  background: #fff;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(30deg);
                  transform-origin: left center;
                  transition: 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .prev:hover span {
                  opacity: 1;
                  transition: 1s 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .prev:hover::before {
                  transform: translate(-50%, -50%) rotate(0deg);
                  top: 20%;
                  opacity: 0;
                  transition: transform 0.5s, top 0.5s 0.5s, opacity 0.7s 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .prev:hover::after {
                  transform: translate(-50%, -50%) rotate(0deg);
                  top: 80%;
                  opacity: 0;
                  transition: transform 0.5s, top 0.5s 0.5s, opacity 0.7s 0.5s; }
              #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .next {
                display: block;
                width: 15%;
                height: 15%;
                float: left;
                background: #131ca2;
                border-top: 3px solid #111;
                position: relative; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .next span {
                  font: 15px/1 'arial';
                  color: #fff;
                  letter-spacing: 3px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 0;
                  transition: 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .next::before {
                  content: '';
                  display: block;
                  width: 30px;
                  height: 1px;
                  background: #fff;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(-30deg);
                  transform-origin: right center;
                  transition: 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .next::after {
                  content: '';
                  display: block;
                  width: 30px;
                  height: 1px;
                  background: #fff;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) rotate(30deg);
                  transform-origin: right center;
                  transition: 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .next:hover span {
                  opacity: 1;
                  transition: 1s 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .next:hover::before {
                  transform: translate(-50%, -50%) rotate(0deg);
                  top: 20%;
                  opacity: 0;
                  transition: transform 0.5s, top 0.5s 0.5s, opacity 0.7s 0.5s; }
                #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner .wrap article:nth-of-type(2) .next:hover::after {
                  transform: translate(-50%, -50%) rotate(0deg);
                  top: 80%;
                  opacity: 0;
                  transition: transform 0.5s, top 0.5s 0.5s, opacity 0.7s 0.5s; }
        #swiper .swiper-wrapper .swiper-slide[data-swiper-slide-index="0"] .inner #footer {
          width: 100%;
          height: 10%;
          background: #ffc72e;
          border-top: 3px solid #111; }
  #swiper .swiper-button-next {
    top: auto;
    right: auto;
    bottom: 2vh;
    left: 50px;
    transform: scale(0.4);
    filter: brightness(0%);
    opacity: 0.7; }
  #swiper .swiper-button-prev {
    top: auto;
    bottom: 2vh;
    left: 20px;
    transform: scale(0.4);
    filter: brightness(0%);
    opacity: 0.7; }
  #swiper .swiper-pagination {
    position: absolute;
    left: auto;
    right: 20px;
    bottom: 1vh;
    width: auto;
    height: 50px;
    z-index: 2; }
    #swiper .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0px;
      margin-left: 60px;
      opacity: 0.7;
      color: #333; }
      #swiper .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        color: #111; }

/*# sourceMappingURL=style.css.map */
